/* Make sure that the page will take the full width */
html, body, header, main, footer {
	width: 100%;
}

/*** Make sure that the contents width won't be more than the specified width byt setting the box-sizing: border-box; ***/
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* For debugging purposes */
	/*outline: 1px solid black !important; */
}

/*** Set the root font-size for responsive font using rem ***/
html {
	font-size: 17px;
}

/*** Change the font of teh page ***/
body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	background-color: #f2f2f2;
}

/*** header styles ***/
header {
	background-color: #02b3e4;
	height: 65px;
}

/*** make sure that the container and flex container take the full height of the header element ***/
.container, .header-flex-con {
	height: 100%;
}

/*** giving the container a width that is less than 100% to make sure that the content won't hit the edges of the screen ***/
.container {
	width: 95%;
	margin: 0 auto;
}

/*** flex container ***/
.header-flex-con {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*** Logo styles ***/
#logo {
	font-family: 'Pacifico', cursive;
	font-size: 2.5rem;
	text-transform: uppercase;
}

/*** remove the margins and make the text bigger for both the name and "front-end ninja" ***/
#name, #fe-ninja {
	margin: 0;
	font-size: 1rem;
	text-transform: uppercase;	
}

/*** set the font size to be smaller than the name + add margin top ***/
#fe-ninja {
	font-size: 0.7rem;
	text-align: right;
	margin-top: 2px;
}

/*** Make sure that images won't overflow ***/
img {
	max-width: 100%;
}

/*** Add border before and after the first section ***/
header, #background {
	border-bottom: 2px solid black;
}

/*** add a picture as a background to the first section and set size to cover, also specify the height***/
#background {
	background: url(../images/bk1-500.jpg) no-repeat;
	background-size: cover;
	height: 200px;
}

/*** make the featuerd content size big and center it ***/
#featured-content {
	font-size: 1.4rem;
	text-align: center;
	margin: 45px 0 30px;
	text-transform: capitalize;
	color: #000000c4;
}

/*** allow each item to wrap to the next line ***/
#items-flex-con {
	display: flex;
	flex-wrap: wrap;
}

/*** give each item a background and add display: flex to make its content 
appear next to each other ***/
.item {
	display: flex;
	background: #02b3e4;
	margin-bottom: 30px;
	align-items: center;
	border-radius: 14px;
	width: 100%;
}

/*** each div takes 50% of the width ***/
.item-text-con, .img-container {
	width: 50%;
}

/*** add some margin to image's container ***/
.img-container {
	margin: 8px 15px 8px 8px;
} 

/*** change the image corners to be rounded corners also make it display as block to remove the space beneath it ***/
.item-img {
	border-radius: 14px;
	display: block;
}

/*** set the size and add some space between the name and description ***/
.item-name {
	margin: 0 0 5px;
	font-size: 1.3rem;
	text-transform: capitalize;
}

/*** description text size ***/
.item-description {
	margin: 0;
	font-size: 0.8rem;
}

/*** add some space between to the right of text container and its container ***/
.item-text-con {
 margin-right: 2px; 
}

/*** footer ***/
footer {
	background-color: #02b3e4;
	height: 50px;
	text-align: center;
}

/*** center the text in the middle ***/
#footer-text {
	margin: 0;
	padding: 13px;
	font-size: 0.9rem;
}

/*** facebook ilnk ***/
#fb-link {
	text-decoration: none;
	color: #fefed9ed;
}